body {
	background-color: #222;
	padding: 0px;
	margin: 0px;
	}
#screen {
	background-color: #eee; color: #000;
	margin: 0px;
	border-radius: 30px;
	padding: 0px;
	height: 100vh;
	z-index: 1;
	}
input[type=button], button {
	-webkit-appearance: none;
	width: 100px; padding: 4px;
	margin-bottom: 3px;
	}
#mode { text-align: center; width: 99%; height: 100px; font-size: 5em; }
#gui { position: absolute; width: 115px; left: 20px;
	top: 125px; z-index: 5; background-color: #44cc88;
	padding-left: 12px; padding-top: 5px; padding-bottom: 5px;
	border-radius: 5px;
	}
#settings { position: absolute; width: 115px; right: 25px;
	top: 100px; z-index: 3; float: right;
	}
#graphholder { 
	width: 99%; height: 500px; text-align: center;
	}
#piegraph { z-index: 3; width: 500px; position: relative; }
#textdiv { width: 99%;
	height: 500px; display: table;
	position: absolute; top: 100px; text-align: center;
	z-index: 4;
	}
#timer { font-size: 17em; text-align: center;
	width: 100%;
	height: 100%;
	vertical-align: middle; display: table-cell;
	}
.preset {
	border: 1px solid #ccc;
	margin-bottom: 5px; padding: 3px;
}
.helptext {
	margin-right: 160px;
	margin-left: 100px;
	margin-top: 100px;
	background-color: #44cc88;
	border-radius: 8px;
	padding: 20px;
}
